<div ng-controller="PageCtrl as pageCtrl" class="col-sm-10">
    <h3>Current users</h3>
    <table class="table table-bordered">
        <thead class="thead-inverse">
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody ng-repeat="user in pageCtrl.users">
        <tr>
            <td>{{user.username}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
        </tr>
        </tbody>

    </table>
    <form class="col-sm-8" name="userAddForm" ng-controller="UserCtrl as userCtrl"
          ng-submit="userAddForm.$valid && userCtrl.addUser(pageCtrl.users)" novalidate>
        <h3>Preview:</h3>
        <div class="list-group">
            <div class="list-group-item col-sm-8">
                <!---->
                <!--<div class="col-sm-8 ">-->
                <!--<img src="assets/default.png" class="col-sm-2">-->
                <ul class="list-unstyled">
                    <li class=""><strong>Name:</strong> <em>{{userCtrl.user.name}}</em></li>
                    <li class=""><strong>Username: </strong> <em>{{userCtrl.user.username}}</em></li>
                    <li class=""><strong>Email: </strong> <em>{{userCtrl.user.email}}</em></li>
                    <li class=""><strong>Other: </strong></li>
                </ul>
                <!--</div>-->
            </div>
            <div class="list-group-item col-sm-8">
                <fieldset class="form-group ">
                    <input ng-model="userCtrl.user.name" class="form-control pull-left" placeholder="Name"
                           title="Name"/>
                </fieldset>
                <fieldset class="form-group">
                    <input ng-model="userCtrl.user.username" class="form-control pull-left" placeholder="Username"
                           title="Username" required/>
                </fieldset>
                <fieldset class="form-group">
                    <input ng-model="userCtrl.user.email" type="email" class="form-control pull-left"
                           placeholder="jimmyDean@example.org" title="Email"/>
                </fieldset>
                <fieldset class="form-group">
                    <input type="submit" class="btn btn-primary pull-right" value="Submit User"/>
                </fieldset>
            </div>
        </div>
    </form>

</div>