<div class="list-group-item col-sm-8">
    <!---->
    <!--<div class="col-sm-8 ">-->
    <!--<img src="assets/default.png" class="col-sm-2">-->
    <ul class="list-unstyled">
        <li class=""><strong>Name:</strong> <em>{{userCtrl.user.name}}</em></li>
        <li class=""><strong>Username: </strong> <em>{{userCtrl.user.username}}</em></li>
        <li class=""><strong>Email: </strong> <em>{{userCtrl.user.email}}</em></li>
        <li class=""><strong>Other: </strong></li>
    </ul>
    <!--</div>-->
</div>